include LICENSE
include README.rst
include MANIFEST.in
include setup.cfg
include setup.py

recursive-include requirements *.txt
graft cipher

recursive-exclude __pycache__ *
global-exclude *.pyc *.pyo *.swp *.swo
